cloud_id                 = "cloud_id"
folder_id                = "folder_id"
zone                     = "ru-central1-a"
image_id                 = "fd8i3uauimpm750kd9vh" # Ubuntu 22.04
subnet_id                = "subnet_id"
public_key_path          = "~/.ssh/appuser.pub"
private_key_path         = "~/.ssh/appuser"
service_account_key_file = "key.json"
k8s_network_id           = "k8s_network_id"
k8s_version              = 1.23
service_account_id       = "service_account_id"
